<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>New Post</h1>
  <form action="" method="POST">
    <label for="Title">Title</label>
    <input id="Title" name="Title" type="text" />
    <label for="Text">Text</label>
    <input id="Text" name="Text" type="text" />
    <button>Post</button>
  </form>
  <a href="/">Back</a>
</body>
</html>
